*{
  font-family:Roboto, sans-serif;
  margin:0;
  padding:0;
}

body
{
  background:#F5F5F5;
}

.wrapper-panel
{
  position:relative;
  padding:10px;
}

.panel-right
{
  right:10px;
  bottom:20px;
  position:absolute;
}

#panel-album
{
  display:none;
}

#bsq-list-image
{
  text-align:center;
  overflow:auto;
}

.bsq-item
{
  position:relative;
  border:1px gray solid;
  border-radius:3px;
  overflow:hidden;
  display:inline-block;
  vertical-align:middle;
  min-width:300px;
  margin:10px;
}

.bsq-info-time
{
  font-size:12px;
  text-align:left;
  position:relative;
  padding:10px;
}

.bsq-info-comment
{
  font-size:12px;
  text-align:left;
  display:none;
  padding:10px;
}

.bsq-item a
{
  color:#000;
  text-decoration:none;
}

.bsq-item img
{
  width:100%;
  vertical-align:bottom;
}

.bsq-item-button-go
{
  position:absolute;
  border:1px solid gray;
  cursor:pointer;
  background:#FFF;
  bottom:-1px;
  right:-1px;
  font-size:13px;
  display:none;
  padding:5px;
}

.bsq-item-button-delete
{
  position:absolute;
  right:-1px;
  top:-1px;
  border:1px solid gray;
  background:#FFF;
  cursor:pointer;
  font-size:13px;
  display:none;
  padding:5px;
}

.bsq-album-panel
{
  padding:5px;
}

.group:before,.group:after
{
  content:"";
  display:table;
}

.group:after
{
  content:"";
  display:table;
  clear:both;
}

.group
{
  zoom:1;
}

.bsq-item-button-go:hover,.bsq-item-button-delete:hover
{
  background:#000;
  color:#FFF;
}