*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: whitesmoke;
}

.wrapper-panel{
  position: relative;
  padding: 10px;
}
.panel-right{  
  right: 10px;
  bottom: 20px;
  position: absolute;
}


#bsq-list-image{
  text-align: center;
  overflow: auto;
}

.bsq-item {
position: relative;

margin: 10px;
border: 1px gray solid;
border-radius: 3px;
overflow: hidden;
display: inline-block;

vertical-align: middle;
min-width: 300px;
}

.bsq-info-time{
  padding: 10px;
  font-size: 12px;
  text-align: left;
  position: relative;
}
.bsq-info-comment{
  padding: 10px;
  font-size: 12px;
  text-align: left;
  display: none;
}

.bsq-item a{
  color: black;
  text-decoration: none;
}

.bsq-item img{  
  width: 100%;
  vertical-align: bottom;
}


.bsq-item-button-go{
position: absolute;
border: 1px solid gray;
padding: 5px;
cursor: pointer;
background: white;
bottom: -1px;
right: -1px;

font-size: 13px;
display: none;
}
.bsq-item-button-go:hover{
  background: black;
  color: white;
}

.bsq-item-button-delete{
  position: absolute;
  right: -1px;
  top: -1px;
  
  border: 1px solid gray;
  padding: 5px;
  background: white;
  cursor: pointer;
  
  font-size: 13px;
  display: none;
}
.bsq-item-button-delete:hover{
  background: black;
  color: white;
}


.bsq-album-panel{
padding: 5px;
}

.group:before,
.group:after {
  content: "";
  display: table;
} 
.group:after {
  content: "";
  display: table;
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}